Práctica 21 : Tuplas

1. crea una tupla con números enteros con algunos de ellos repetidos, pide un número por teclado e indica cuantas veces se repite si estuvise en al tupla.

In [2]:
tupla_numeros = (1, 2, 3, 4, 5, 6, 7, 5, 7, 4) # se crea la tupla  

numero_ingresado = int(input("Ingrese el numero entero")) #Pedimos al usuario un número entero

repeticiones = tupla_numeros.count(numero_ingresado) # Contamos cuántas veces se repite el número de la tupla

if repeticiones > 0 :
    print(f" El número {numero_ingresado} se repite {repeticiones} veces en la tupla. ")
else:
    print(f"El {numero_ingresado}no esta en la tupla")

 El número 5 se repite 2 veces en la tupla.

2. Crea una tupla con número e indica e indica el número con mayor valor y el que menor tenga

In [5]:
tupla_numeros = (15, 2, 7, 10, 8, 55 ) # Se crea tupla
numero_mayor =  max(tupla_numeros)
numero_menor =  min(tupla_numeros)

print(f"El número mayor de la dupla es: { numero_mayor } ")
print(f"El número menor de la dupla es: { numero_menor } ")

El número mayor de la dupla es: 55
El número menor de la dupla es: 2

3. Crea una tupla con valores ya predefinidos del 1 al 10, pide un indice por teclado y muetsra los valores de la tupla

In [14]:
tupla_numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9,10) # Creamos un tupla del 1 al 10

indice = int(input("Introduce un indice del 0  y  9: ")) # pedimos al usuario que ingrese un indice

if 0 <= indice <= 9:  #verificamos que el indice este dentro del rango 
    
    print(f"El valor en el índice {indice} es: {tupla_numeros[indice]}")   #mostramos del valor del indice en la tupla
else:
    print("Índice fuera de rango.")

El valor en el índice 5 es: 6

4. Escribir un codigo donde se pida al usuario almacenar en una tupla el día. mes y el año(todos en formato entero) y luego que imprima dicha fecha en el formato  "03/07/2023".

In [1]:
# Pedimos al usuario que ingrese el día, mes y año
dia = int(input("Ingresa el día (formato entero): "))
mes = int(input("Ingresa el mes (formato entero): "))
año = int(input("Ingresa el año (formato entero): "))

# Almacenamos los valores en una tupla
fecha_tupla = (dia, mes, año)

# Imprimimos la fecha en el formato deseado
print("La fecha es: {:02d}/{:02d}/{:04d}".format(fecha_tupla[0], fecha_tupla[1], fecha_tupla[2]))

La fecha es: 12/06/2024

5. Definir una tupla con tres valores enteros. Convertir el contenido de la tupla a tipo lista y luego convertir la lista en tupla

In [7]:
tupla_enteros = (1,10,20) # Definimos una tupla con tres valores enteros

lista_enteros = list(tupla_enteros)
print(f"Contenido de la tupla convertido a lista: {lista_enteros}") # Convertimos la tupla en una lista

tupla_convertida = tuple(lista_enteros)                      # Convertimos la lista de vuelta en una tupla
print(f"Contenido de la lista convertido de nuevo a tupla: {tupla_convertida}")

Contenido de la tupla convertido a lista: [1, 10, 20]
Contenido de la lista convertido de nuevo a tupla: (1, 10, 20)

6. Crear una tupla y luego imprimirla en orden inverso en otra variable o en otra tupla

In [11]:
# Creamos una tupla con los nombres
tupla = ('ana', 'carlos', 'pepe')

# Imprimimos la tupla en orden inverso
tupla_inversa = tupla[::-1]
print(tupla_inversa)

('pepe', 'carlos', 'ana')

7. Dada la tupla
   tuple1 = ("orange,[10,20,30],(5,15,25))
   Accede al valor 20 e imprime una nueva variable

In [12]:
# Dada la tupla
tuple1 = ("orange", [10, 20, 30], (5, 15, 25))

# Accedemos al valor 20, que está en la lista en la posición 1 de la tupla,
# y en la posición 1 de la lista
valor_20 = tuple1[1][1]

# Imprimimos el valor
print(valor_20)

20

8. Escriba un programa para descomprimir la siguiente tupla en cuatro variables e imprimir cada variable 
tuple1 = (10, 20, 30, 40)

In [16]:
# Definimos la tupla
tuple1 = (10, 20, 30, 40)

# Descomprimimos la tupla en cuatro variables
a, b, c, d = tuple1

# Imprimimos cada variable
print("Variable a:", a)
print("Variable b:", b)
print("Variable c:", c)
print("Variable d:", d)

Variable a: 10
Variable b: 20
Variable c: 30
Variable d: 40

In [17]:
# Creamos una tupla con algunos valores
mi_tupla = (10, 20, 30, 40)

# Accedemos a los elementos de la tupla
primer_elemento = mi_tupla[0]
segundo_elemento = mi_tupla[1]
tercer_elemento = mi_tupla[2]
cuarto_elemento = mi_tupla[3]

# Imprimimos los valores
print(f"Primer elemento: {primer_elemento}")
print(f"Segundo elemento: {segundo_elemento}")
print(f"Tercer elemento: {tercer_elemento}")
print(f"Cuarto elemento: {cuarto_elemento}")

Primer elemento: 10
Segundo elemento: 20
Tercer elemento: 30
Cuarto elemento: 40

9.Intercambiar dos tuplas en PYTHON
tuple1 = (11, 22)
tuple2 = (99, 88)

In [18]:

# Definimos las tuplas originales
tuple1 = (11, 22)
tuple2 = (99, 88)

# Intercambiamos los valores de las tuplas
tuple1, tuple2 = tuple2, tuple1

# Imprimimos las tuplas intercambiadas
print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

10. ¿Cuantas veces aparece el 777  en la siguiente tupla? escribe el codigo
tt = (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

In [21]:
tt = (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)
tt.count(777)

2

11. ¿Cuál es la suma de todos los numero de la siguiente tupla?
escribir código
tt = (42, 1092,11,88,65, 2, 6)

In [22]:
# Definimos la tupla
tt = (42, 1092, 11, 88, 65, 2, 6)

# Calculamos la suma de los números
suma_total = sum(tt)

# Imprimimos el resultado
print(f"La suma de todos los números en la tupla es: {suma_total}")

La suma de todos los números en la tupla es: 1306

12. ¿Cuáles son los valores minimos  y maximos de la siguiente tupla ?
Escribir código
               tt=(42, 1092, 11, 88, 65, 2, 6 )

In [3]:
tt = (42, 1092, 11, 88, 65, 2, 6 )
valores_minimos = min(tt)
valores_maximos = max(tt)
print(f'El valor máximo es {valores_minimos} ')
print(f'El valor minimo es {valores_maximos} ')

El valor máximo es 2
El valor minimo es 1092

13. Escriba un programa para aceptar el nombre de cinco frutas por parte del usuario,almacenarlo en una dupla y luego imprimir.

In [12]:
nombres_de_frutas = []             # Inicio con una lista vacía para almacenar el nombre de las frutas

# se pide al usuario el nombre de cinco frutas
for i in range(5):                
    frutas = input(f'Ingrese nobre de la fruta {i+1}: ') # Solicitud al usuario
    nombres_de_frutas.append(frutas)    #append: agrega elementos al final de la lista existente
        
tupla_de_frutas = tuple(nombres_de_frutas)

print(f'las frutas son{tupla_de_frutas}')

las frutas son('manzana', 'pera', 'mango', 'piña', 'melon')

14. Considere la siguiente tupla y escriba el código para las siguientes declaraciones:
T1 = (12, 3, 45, 'Hockey', 'Anil', (a,b))
a. Imprimir el primer elemento de T1
b. imprimir el ultimo elemento de T1
c. Imprimir T1 en orden inverso
d. Imprimir 'Anil' desde la tupla T1
e. Imprimir 'b' desde la tupla T1

In [31]:
T1 = (12, 3, 45, 'Hockey', 'Anil', ('a','b'))
primer_elemento = T1[0]
print(primer_elemento)

12

In [29]:
T1 = (12, 3, 45, 'Hockey', 'Anil', ('a','b'))
ultimo_elemento = T1[-1]
print(ultimo_elemento)

('a', 'b')

In [16]:
T1 = (12, 3, 45, 'Hockey', 'Anil', ('a','b'))
inverso = T1[::-1]
print(inverso)

(('a', 'b'), 'Anil', 'Hockey', 45, 3, 12)

In [24]:
T1 = (12, 3, 45, 'Hockey', 'Anil', ('a','b'))
elemento_Anil = T1[4]
print(elemento_Anil)

Anil

In [22]:
T1 = (12, 3, 45, 'Hockey', 'Anil', ('a','b'))
elemento_b = T1[-1][1]
print(elemento_b)

b

15. Escriba un programa que le pida a un usuario una cadena (string), luego convertirlo a una tupla

In [32]:
# Pedimos al usuario que ingrese una cadena
cadena_usuario = input('Por favor, introduce una cadena: ')

# Convertimos la cadena en una tupla utilizando la función tuple()
tupla_cadena = tuple(cadena_usuario)

# Imprimimos la tupla resultante
print('La tupla creada a partir de la cadena es:', tupla_cadena)

La tupla creada a partir de la cadena es: ('a', 'n', 'a')